* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
    background-image: url("./Img/background.jpg");
    background-size: cover;
    background-position: center;
}

.app-container{
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, .2);
}

.forecast-day{
    border: 1px solid rgba(255, 255, 255, .2);

}
