* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 5px; 
    border: 3px solid transparent; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
  }

.body{
    min-height: 100%;
    background-image: url("./Img/background.jpg");
    background-size: cover;
    background-position: center;
}

.app-container {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, .2);
  width: 80%;
  min-width: 400px;
  overflow: hidden; /* Ensure content doesn't overflow */
  flex-grow: 0; /* Initially don't grow */
  transition: flex-grow 0.5s ease; /* Transition flex-grow property */
}

.app-container.expanded {
  flex-grow: 1;
  max-height: 80vh;
}

.input-container{
    width: 80%;
}

input{
    min-width: 80px;
    width: 100%;
}

.forecast-day{
    /* display: none!important; */
    border: 1px solid rgba(255, 255, 255, .2);
 
}
.fa-magnifying-glass{
    transition: .3s ease-in-out;
}
.fa-magnifying-glass:hover{
    background-color: rgba(255, 255, 255, .3);
}
