* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
    background-image: url("./Img/background.jpg");
    background-size: cover;
    background-position: center;
}

.app-container{
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, .2);
}


.forecast-day{
    /* display: none!important; */
    border: 1px solid rgba(255, 255, 255, .2);
 
}
.fa-magnifying-glass{
    transition: .3s ease-in-out;
}
.fa-magnifying-glass:hover{
    background-color: rgba(255, 255, 255, .3);
}
